/*Import the fonts used*/
@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');
/*Basic reset*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Custom properties*/
:root {
    --dark-color: #2d2c2c;
    --footer-color: #333333;
    --header-color: #333333;
    --header-color-alt: rgba(53, 10, 79, .5);
    --purple-light: #333333;
    --green-light: #649179;
    --yellow-solid: #fa9e2c;
    --gradient-color: linear-gradient(to right, var(--yellow-solid), var(--purple-light));
    --gradient-color-alt: linear-gradient(to right, var(--purple-light), var(--yellow-solid));
}

html{
    font-size: 10px;
}

body{
    font-family: 'Open Sans', sans-serif ;
    font-size: 1.6rem;
    color: var(--dark-color);
}

section{
    padding: 5rem 0;
}

/*Reusable styles*/
.container{
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

/*hed*/
* {box-sizing: border-box;}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}

.header {
  overflow: hidden;
  background-color: var(--header-color);
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 5rem;
}


.header-text{
    display: block;
    align-items: center;
    justify-content: space-around;
}

.header-text ul li a{
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-top: 20px;
}

.logo-img{
    width: 90px;
    height: 80px;
    float: left;
    margin-top: 15px;
    margin-left: 20px;
}

.logo-img :hover{
    width: 110px;
    height: 100px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}

.header a:hover {
  color: red;
}

.header a.active {
  color: red;
}

.header-right {
  float: right;
}



/*fin*/




.footer{
    padding-bottom: 2rem;
    width: 100%;
    height: fit-content;
    background-color: var(--footer-color);
    color: #fff;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer-content-brand{
    margin-bottom: 3rem;
}

.social-media-wrap{
    text-align: center;
    
}

.footer-logo{
    float: left;
}

.social-med a{
    font-size: 25px;
    padding-left: 15px;
    padding-top: 15px;
}

.social-med a:hover {
    font-size: 35px;
}


/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */


  .column {
    height: 400px;
    float: left;
    font-size: 20px;
    width: 20%;
    margin-top: 5%;
    margin-left: 180px;
  }

  .row{
    width: 100%;
    padding-top: 5%;
    height: auto;
    text-align: center;
    background-color: var(--green-light);
  }

  .row-heading{
    font-size: 50px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .info {
    margin: 150px;
    width: 30%;
    border: 3px solid #333333;
    padding: 10px;
    float: left;
  }

  .main-heading1{
    font-size: 30px;
    font-family: 'courgette',cursive;
  }

  .column2 {
    height: 650px;
    float: left;
    width: 30%;
    margin-top: 5%;
    margin: 5%;
    position: relative;
  }


  .message{
    color: var(--footer-color);
    border: 10px solid #333333;
    padding: 10px;
    font-size: 40px;
    margin: 20px;
    font-size: 20px;
  }
  .row3{
    width: 100%;
    padding: 10%;
    height: auto;
    text-align: center;
    margin: 20px;
    
  }
form{
  width: 150%;
  background-color: var(--header-color);
  color: white;
  border: gray ;
  padding: 20px;
}
.myform h1{
  text-align: center;
}

legend{
  padding: 10px;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=tel], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

button {
  width: 100%;
  background-color:var(--green-light);
  color: white;
  font-size: 30px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
  /*Header responsive */
  * {box-sizing: border-box;}

  @media screen and (max-width: 760px) {

    html, body {
      overflow-x: hidden;
    }
   body {
      width:100%;
    }
  
    .myform {
      width: 100%;
     
    }
    .column {
      height: 400px;
      float: left;
      font-size: 20px;
      width: 100%;
      margin-top: 2%;
      margin: 0 auto;
      
    }

    .column2 {
      width: 100%;
      padding-left: 10%;
      padding-right: 10%;
      display: flex;
      clear: left;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    } 
    /* header */

    .header a {
      float: none;
      padding: 0;
      margin-bottom: 10px;
    }

    .header-text ul li a{
      color: white;
      display: flex;
      font-size: 15px;
  }
 
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    color: white;
    display: flex;
    padding-top: 40px;
    padding-right: 20px;
    text-align: right;
    justify-content: flex-end;
  }
  
  .header a:hover {
    color: red;
  }
  
  .header a.active {
    color: red;
  }
  
  .header-text{
    clear: left;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .header-text ul li a{
    color: white;
    font-weight: bold;
    display: block;
    align-items: center;
    font-size: 20px;
 }

 .nav-list {
    margin-top: -20px;
 }

  /*header stop */
  iframe{
    width:60%;
    height: 200px;
  }
  /* footer start */
  
  .footer{
    font-size: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer-content-brand{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  clear: left;
  display: flex;
  justify-content: center;
}

.logo-footer-image{
  margin-top: 20px;
  width: 50%;
}

.social-med a{
    font-size: 25px;
}

.social-med a:hover {
    font-size: 30px;
}


  /* footer end */
}


iframe{
  width:80%;
  height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 50%;
  margin-bottom: 40px;

} 

