/*Import the fonts used*/
@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');
/*Basic reset*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Custom properties*/
:root {
    --dark-color: #2d2c2c;
    --footer-color: #333333;
    --header-color: #333333;
    --header-color-alt: rgba(53, 10, 79, .5);
    --purple-light: #333333;
    --green-light: #649179;
    --yellow-solid: #fa9e2c;
    --gradient-color: linear-gradient(to right, var(--yellow-solid), var(--purple-light));
    --gradient-color-alt: linear-gradient(to right, var(--purple-light), var(--yellow-solid));
}

html{
    font-size: 10px;
}

body{
    font-family: 'Open Sans', sans-serif ;
    font-size: 1.6rem;
    color: var(--dark-color);
}

section{
    padding: 5rem 0;
}

/*Reusable styles*/
.container{
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

/*hed*/
* {box-sizing: border-box;}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}

.header {
  overflow: hidden;
  background-color: var(--header-color);
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 5rem;
}


.header-text{
    display: block;
    align-items: center;
    justify-content: space-around;
}

.header-text ul li a{
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-top: 20px;
}

.logo-img{
    width: 90px;
    height: 80px;
    float: left;
    margin-top: 15px;
    margin-left: 20px;
}

.logo-img :hover{
    width: 110px;
    height: 100px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}

.header a:hover {
  color: red;
}

.header a.active {
  color: red;
}

.header-right {
  float: right;
}



/*fin*/




.footer{
    padding-bottom: 2rem;
    width: 100%;
    height: fit-content;
    background-color: var(--footer-color);
    color: #fff;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer-content-brand{
    margin-bottom: 3rem;
}

.social-media-wrap{
    text-align: center;
    
}

.footer-logo{
    float: left;
}

.social-med a{
    font-size: 25px;
    padding-left: 15px;
    padding-top: 15px;
}

.social-med a:hover {
    font-size: 35px;
}


/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */


  

  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  main{
    display: flex;
    
  }

  .review-page {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
  }
  
  .rev-section{
    margin: auto;
    padding: 0 1rem;
    text-align: center;

  }
  
  .title{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: rgb(50, 50, 50);
    margin-bottom: .5rem;
  }
  .note{
    font-size: 1.1rem;
    color: rgb(150, 150, 150);
    font-style: italic;
      color: red;
  
  }
  
  .reviews{
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }

  .review{
    margin: 2rem 1rem;
    width: 100%;
    flex: 1;
  }
  
  .head-review{
    margin: 1.75rem auto;
    width: 150px;
    height: 150px;
    float: left;
  }

  
  .review .head-review img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
  }
  
  .body-review{
    background-color: rgb(238, 238, 238);
    padding: 2.5rem;
    box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
  }
  .name-review{
    font-size: 1.5rem;
    color: rgb(50, 50, 50);
    margin-bottom: .25rem;
  }
  .place-review{
    color: red;
    font-style: italic;
  }
  .rating{
    color: rgb(253, 180, 42);
    margin: 1rem 0;
  }
  .desc-review{
    letter-spacing: 1px;
    color: var(--green-light);
  }

  /*Header responsive */
  * {box-sizing: border-box;}

  @media screen and (max-width: 760px) {

    html, body {
      overflow-x: hidden;
    }
   body {
      width:100%;
    }
    
   

    /* header */

    .header a {
      float: none;
      padding: 0;
      margin-bottom: 10px;
    }

    .header-text ul li a{
      color: white;
      display: flex;
      font-size: 15px;
  }
 
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    color: white;
    display: flex;
    padding-top: 40px;
    padding-right: 20px;
    text-align: right;
    justify-content: flex-end;
  }
  
  .header a:hover {
    color: red;
  }
  
  .header a.active {
    color: red;
  }
  
  .header-text{
    clear: left;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .header-text ul li a{
    color: white;
    font-weight: bold;
    display: block;
    align-items: center;
    font-size: 20px;
 }

 .nav-list {
    margin-top: -20px;
 }

  /*header stop */

  /* footer start */
  
  .footer{
    font-size: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer-content-brand{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  clear: left;
  display: flex;
  justify-content: center;
}

.logo-footer-image{
  margin-top: 20px;
  width: 50%;
}

.social-med a{
    font-size: 25px;
}

.social-med a:hover {
    font-size: 30px;
}

  /* footer end */
}
